.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.imgs {
  display: flex;
}

.rps {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #22b5b2;
}

h1 {
  margin: 30px;
  font-family: 'Jaro', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #ede2bd;
}

h2 {
  margin: 80px 0 40px;
  font-family: 'Jaro', cursive;
  text-shadow: 2px 0 #232931;
  font-size: 2rem;
  color: #e9d492;
}

p {
  font-size: 2rem;
  color: #ede2bd;
  font-family: 'Dancing Script', cursive;
}

img {
  width: 70%;
  border-radius: 40%;
}

/* .rps {
  margin-top: %;
} */

button {
  font-family: 'Lobster', cursive;
  border-radius: 50px;
  font-size: 1.2rem;
  margin-top: 4rem;
  padding:10px 40px;
  background-color: #ede2bd;
  box-shadow: 2px 2px 0 black;
}

button:hover {
  cursor: pointer;
  background-color: #e0ce94;
  font-size: 1.5rem;
  transition: 300ms;
}

.links {
  margin-top: 10%;
}
.links>p{
  font-size: 1rem;
  font-family: 'Source Code Pro', sans-serif;
}

a {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #e0ce94;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

footer {
  margin-top: 4%;
  color: #ede2bd;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
